/* Header search and search-form specific styling */
.search-form {
  position: relative;
}

.search-form .form-control {
  height: 40px;
  background-color: #fff;
  margin-bottom: 0;
  border-color: rgba(255, 255, 255, 0.2) !important;
  padding-left: 30px;
  color: #fff;
}

.search-form .form-control:active,
.search-form .form-control:focus {
  border-color: rgba(255, 255, 255, 0.3) !important;
}

.search-form .form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.search-form .form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.search-form .form-control::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.search-form .form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.search-form [class^="bi-"] {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 10px;
  color: rgba(255, 255, 255, 0.5);
}

.search-form-wrap {
  margin-bottom: 5em;
  display: block;
}

.search-form-wrap .sidebar-search-form .form-group {
  position: relative;
}

.search-form-wrap .sidebar-search-form .form-group #s {
  background: #f7f7f7;
  padding: 15px 15px;
  padding-left: 50px;
}

.search-form-wrap .sidebar-search-form [class^="bi-"] {
  position: absolute;
  color: #000;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
